<main>
	<div class='grid'>
		{{#if hasProducts}}
			<div class='grid'>
				{{#each products}}
					<article class='card product-item'>
						<header class='card__header'>
							<h1 class='product__title'>{{this.title}}</h1>
						</header>
						<div class='card__image'>
							<img
								src='https://foundforthehome.com/cdn/shop/products/ec5367e2c4efd01c8184f4263ec6c7a4.png?v=1612336125'
								alt='the product'
							/>
						</div>
						<div class='card__content'>
							<h2 class='product__price'>{{this.price}}</h2>
							<p class='product__description'>{{this.description}}</p>
						</div>
						<div class='card__actions'>
							<button class='btn'>Add to Cart</button>
						</div>
					</article>
				{{/each}}
			</div>
		{{else}}
			<h1>No Products Found</h1>
		{{/if}}
	</div>
</main>